<%= form_for([@post, @post.comments.build]) do |f| %>

    <% if @comment.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h3><span class="glyphicon glyphicon-ban-circle"></span> <%= pluralize(@comment.errors.count, "error") %> prevented
            changes from being saved:</h3>
          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-horizontal" style="margin-right: 150px;">
      <div class="form-group">
        <%= f.label :commenter, 'Your Name', :class=>"col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :commenter, :class=>"form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :body, 'What say you?', :class=>"col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_area :body, :class=>"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit :class=>"btn btn-danger" %>
        </div>
      </div>
    </div>


<% end %>


