
<%= render "welcome/header" %>


  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron alert-danger">
    <div class="container ">

      <h2><b>Articles/Blog Entries</b>
        <%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, new_post_path, :class=> "btn btn-danger" %>
      </h2>
      <p></p>



      <div class="panel " style="border-color:rgb(207, 74, 72)">

        <div class="panel-heading navbar-inverse" >
          <h3 class="panel-title"> </h3>
        </div>
        <div class="panel-body" style="font-size: 14px">

          <table class="table table-bordered table-condensed  table-hover">
            <tr class="danger">
              <th width="150px">Title</th>
              <th>Summary</th>
              <th>View</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>

            <% @posts.each do |post| %>
                <tr>
                  <td><%= post.title %></td>
                  <td><%= post.text %></td>
                  <td><%= link_to '<span class="glyphicon glyphicon-list"></span>'.html_safe, post %></td>
                  <td><%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_post_path(post) %></td>
                  <td><%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, post_path(post), method: :delete,
                                  data: { confirm: 'Delete this entry?' } %><td/>

                </tr>
            <% end %>
          </table>
          <%= link_to 'Back to Main', welcome_index_path %>
        </div>

      </div>


      </div>
    </div>


<div class="container theme-showcase">

</div> <!-- /container -->