
<%= render "welcome/header" %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron alert-danger">
  <div class="container ">

    <div class="media ">
      <div class="pull-left well-sm" >

        <%= image_tag "/assets/iconme.png", :class => "media-object thumbnail", :width =>"200px" %>
      </div>
      <div class="media-body ">
        <div class="well-sm">

          <h3><b><span class="glyphicon glyphicon-random"> </span> <%= @post.title %></b>
            <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_post_path(@post), :class=> "btn btn-danger" %>
          </h3>
          <h3><span class="glyphicon glyphicon-calendar"></span> @post.date </h3>
          <p class="lead alert" style="background-color: white; border-color:rgb(207, 74, 72)"><%= @post.text %></p>

        </div></div>
    </div>
    <p></p>



    <div class="panel " style="border-color:rgb(207, 74, 72)">

      <div class="panel-heading navbar-inverse" >
        <h3 class="panel-title"> </h3>
      </div>
      <div class="panel-body" style="font-size: 14px">

        @post.content

        <p></p>
        <%= link_to 'Back', posts_path %>
      </div>

    </div>


  </div>
</div>


<div class="container theme-showcase">



  <h3>Comments</h3>

  <%= render @post.comments  %>

  <h3>Add a comment:</h3>

  <%= render "comments/form" %>

  <%= link_to 'Back', posts_path %>



  <p></p>

</div> <!-- /container -->








